@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    font-family: arial;
    scroll-behavior: smooth;

    a {
        cursor: pointer;
    }
}

body {
    background: var(--very-light-blue);
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--dark-blue);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--very-light-blue);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--dark-blue);
    /* creates padding around scroll thumb */
}

.navbar {
    background: var(--color-blue);
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: 0 5px 20px var(--color-black);

    .nav-container {
        width: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
        align-items: center;

        .nav-logo {
            display: flex;
            justify-content: center;

            img {
                width: 100%;


            }
        }

        .button-container {
            display: flex;
            justify-content: flex-end;
            margin: 0 50px 0 0;

            .button {
                margin: 10px;

                a {
                    font-weight: bolder;
                    transition: 0.5s;
                    text-decoration: transparent;
                    color: var(--color-white);
                    border-bottom: 2px solid transparent;
                }

                a:hover {
                    color: var(--dark-blue);
                    border-bottom: 2px solid var(--dark-blue);

                }
            }
        }
    }
}

.hamburguer-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0 20px 0 0;
}

.hamburger span {
    display: block;
    height: 4px;
    background: black;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.button-menu {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;

    a {
        margin-top: 10px;
        font-weight: bolder;
        transition: 0.5s;
        color: var(--color-white);
    }

    a:hover {
        transform: scale(1.05);
        color: var(--color-blue);
    }

}

.menu-mobile {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.816);
    width: 200px;
    display: flex;

    flex-direction: column;
    pointer-events: none;
    text-align: start;
    /* Impede interação enquanto o menu estiver fechado */
}

.menu-mobile.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    /* Permite interação quando o menu estiver aberto */
    box-shadow: -10px 0 100px var(--color-black);
    z-index: 15;

}

.menu-mobile a:last-child {
    border-bottom: none;
}

.menu-bar {
    width: 100%;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
}

.inicio {
    margin-top: 8%;

    .inicio-container {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 100%;

        .text-container-inicio {
            margin: 5px 5px 5px 10%;
            opacity: 0;
            transition: opacity 1s ease;

            .title-container-inicio {
                width: 80%;
                font-size: 20px;

                .strong {
                    color: var(--color-blue);
                }

                .market {
                    color: var(--dark-blue);
                }
            }

            .folder-container-inicio {
                width: 80%;
                font-size: 18px;
            }

            .button-chamada-inicio {
                width: 80%;
                display: flex;
                justify-content: start;
                margin-top: 20px;

                #conhecer-inicio {
                    margin: 0 5px 0 0;
                    border: 2px solid var(--color-blue);
                    color: var(--color-blue);
                    transition: 0.5s;
                }

                #conhecer-inicio:hover {
                    background: var(--color-blue);
                    color: var(--color-white);
                    transform: scale(1.1);
                    box-shadow: 0 5px 20px var(--dark-blue);
                }

                #contato-inicio {
                    margin: 0 0 0 5px;
                    border: 2px solid var(--color-green);
                    color: var(--color-black);
                    transition: 0.5s;
                }

                #contato-inicio:hover {
                    background: var(--color-green);
                    color: var(--color-black);
                    transform: scale(1.1);
                    box-shadow: 0 5px 20px var(--color-green);
                }

                a {
                    padding: 10px;
                    font-weight: bolder;
                    border-radius: 5px;

                    i {
                        margin: 0 5px 0 0;
                    }
                }

            }

        }

        .img-container-inicio {
            margin: 15% 10% 5% 5px;
            display: flex;
            align-items: center;

            .img-transition {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: end;
                align-items: center;

                #img1 {
                    width: 45%;
                    height: auto;
                    position: absolute;
                    left: 10%;
                    top: -50%;
                    z-index: 1;
                    opacity: 0;
                    transition: opacity 1s ease;
                    filter: blur(2px);
                }

                #img2 {
                    width: 60%;
                    position: relative;
                    z-index: 2;
                    opacity: 0;
                    transition: opacity 1s ease;

                }

                #img3 {
                    width: 35%;
                    height: auto;
                    position: absolute;
                    right: 20%;
                    top: -85%;
                    z-index: -1;
                    opacity: 0;
                    transition: opacity 1s ease;
                    filter: blur(4px);
                }

                img {
                    box-shadow: 0 5px 20px var(--color-black);
                    border-radius: 5px;
                }
            }


        }
    }
}

.button-more {

    .button-more-container {
        display: flex;
        justify-content: center;

        a {
            border: 2px solid var(--dark-blue);
            padding: 5px 5px 0 5px;
            border-radius: 100%;
            animation: jump 1s ease-in-out infinite;
            opacity: 0;
            transition: opacity 1s ease;

            i {
                color: var(--dark-blue);
                font-size: 25px;
            }

        }

        a:hover {
            animation: none;
            transform: scale(1.1);
            background: var(--dark-blue);
            box-shadow: 0 5px 20px var(--color-black);

            i {
                color: var(--color-white);
            }
        }

    }

}

@keyframes jump {

    0%,
    100% {
        transform: translateY(0);
        /* Posição inicial e final */
    }

    50% {
        transform: translateY(-10px);
        /* Movimento para cima */
    }
}

#filosofia {
    scroll-margin-top: 50px;
}

.filosofia {
    margin-top: -1.5%;

    .filosofia-container {
        display: grid;
        grid-template-columns: 50% 50%;

        .fade-in {
            opacity: 0;
            transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        }

        .fade-in.visible {
            opacity: 1;
            transform: translateY(0);
        }

        .text-filo {
            background: var(--color-blue);

            box-shadow: 0 5px 20px var(--color-black);
            z-index: 1;
            padding: 20px;
            border-radius: 0 20% 20% 0;
            display: flex;
            justify-content: start;
            flex-direction: column;
            opacity: 0;
            transition: opacity 1s ease;
            transition: 0.5s;

            .title-filo {
                width: 80%;
                text-align: center;
                border-bottom: 2px solid var(--dark-blue);
                opacity: 0;
                transition: opacity 1s ease;

                h1 {
                    color: var(--color-white);
                }
            }

            .folder-filo {
                margin-top: 30px;

                width: 90%;

                p {
                    text-align: justify;
                    font-weight: 600;
                    margin-top: 5px;
                    color: var(--very-light-blue);
                }
            }
        }

        .text-filo:hover {
            box-shadow: 0 0 30px var(--dark-blue);
        }

        .graphic-filo {

            background: var(--dark-blue);
            box-shadow: 0 5px 20px var(--color-black);
            z-index: 1;
            padding: 20px;
            border-radius: 20% 0 0 20%;
            display: flex;
            justify-content: center;
            opacity: 0;
            transition: opacity 1s ease;
            transition: 0.5s;

            .img-filo {
                display: flex;
                justify-content: center;

                img {
                    width: 100%;
                }
            }
        }

        .graphic-filo:hover {
            box-shadow: 0 0 30px var(--dark-blue);
        }
    }
}

.up {
    position: fixed;
    bottom: 20px;
    /* Distância do fundo */
    right: 20px;
    /* Distância da direita */
    z-index: 1000;
    /* Para garantir que fique acima de outros elementos */
    transition: opacity 0.3s ease;
    opacity: 0;
}

.up.visible {
    opacity: 1;
}

.up-container {
    background-color: var(--dark-blue);
    /* Cor de fundo */
    border-radius: 50%;
    /* Para deixar o botão redondo */
    width: 50px;
    /* Largura */
    height: 50px;
    /* Altura */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px var(--color-black);
    /* Sombra */
    transition: 0.5s;
    cursor: pointer;
}

.up-container:hover {
    background: var(--color-blue);
}

.up-container a {
    color: var(--very-light-blue);
    /* Cor do ícone */
    text-decoration: none;
    /* Remover sublinhado */
    font-size: 24px;
    /* Tamanho do ícone */
}

.up-container a:hover {
    color: var(--very-light-blue);
    /* Cor do ícone ao passar o mouse */
}

#processo {
    scroll-margin-top: 120px;
}

.processo-criativo {
    margin: 10% 0 0 0;
    padding: 5px;
    display: flex;
    justify-content: center;

    .container-criativo {
        padding: 5px;
        width: 100%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: center;

        #number1,
        #number2,
        #number3 {
            opacity: 0;
            transition: opacity 1s ease;
        }

        #number1.visible,
        #number2.visible,
        #number3.visible {
            opacity: 1;
        }

        #number1 {
            justify-content: end;
        }

        #number3 {
            justify-content: start;
        }

        .container-processo {
            width: 100%;
            display: flex;
            justify-content: center;

            #number2 {
                width: 100%;
                background: var(--dark-blue);
                height: 120%;
                margin-top: -10%;
                z-index: 20;
                transition: 0.5s;

                .text-processo {
                    strong {
                        font-size: 20px;
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }

            .container-number {
                background: var(--color-blue);
                padding: 5px;
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 5%;
                z-index: 10;
                box-shadow: 0 5px 20px var(--color-black);
                transition: 0.5s;

                .text-processo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 95%;

                    h1 {
                        color: var(--very-light-blue);
                        text-decoration: underline 2px solid var(--color-blue);
                    }

                    strong {
                        margin: 5% 0 0 0;
                        color: var(--very-light-blue);
                    }

                    p {
                        margin: 5% 0;
                        text-align: justify;
                        color: var(--color-gray);
                    }
                }
            }

            .container-number:hover {
                box-shadow: 0 0 30px var(--dark-blue);
            }
        }
    }
}

#container-slide {
    opacity: 0;
    transition: opacity 1s ease;
}

#container-slide.visible {
    opacity: 1;
}

.container-slide {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5% 0 0 0;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 70%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.slider img {
    width: 90%;
    /* Garante que a imagem ocupe toda a largura do slide */
    display: block;
    border-radius: 10px;
    box-shadow: 0 5px 20px var(--color-black);
    margin: 50px 0;
    transition: 0.5s;
    cursor: pointer;
}

.slider img:hover {
    transform: scale(1.05);
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev,
.next {
    color: var(--dark-blue);
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
}

.prev:hover,
.next:hover {
    transform: scale(1.5);
}

.servicos {
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;

    #title-container-servico {
        margin: 50px 20px 0;
    }

    .container-servicos {
        width: 90%;
        padding: 5px;
        display: grid;
        grid-template-columns: 33% 33% 33%;

        #servico1,
        #servico2,
        #servico3,
        #servico4,
        #servico5 {
            opacity: 0;
            transition: opacity 1s ease;
        }

        #servico1.visible,
        #servico2.visible,
        #servico3.visible,
        #servico4.visible,
        #servico5.visible {
            opacity: 1;
        }

        .servico-content {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 2px;
            margin: 10px 0 30px 0;
            transition: 0.5s;
            border: transparent;

           

            .title-content-servico {
                width: 100%;
                display: flex;
                justify-content: center;
                border-bottom: 2px solid var(--color-blue);
                #title-container-servico {
                    opacity: 0;
                }
                h1 {
                    font-size: 25px;
                }
            }

            .icon-content-servico {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 10px 0;
                text-align: center;

                i {
                    font-size: 40px;
                    margin: 0 5px 0 5px;
                }

                h2 {
                    margin: 7px 0 7px 0;
                }
            }

            .text-content-servico {
                width: 80%;
                display: flex;
                justify-content: center;
                text-align: justify;
                margin: 0 0 10px 0;

                label {
                    font-size: 20px;
                }
            }

            .button-content-servico {
                margin: 10px 0 10px 0;
                width: 100%;
                display: flex;
                justify-content: center;

                a {
                    background: transparent;
                    padding: 5px;
                    color: transparent;
                    border-radius: 5px;
                    transition: 0.3s;
                    border: 2px solid;
                }

            }
        }

        .servico-content:hover {
            border: 1px solid var(--dark-blue);
            border-radius: 5px;

            .button-content-servico {
                a {
                    border: 2px solid var(--color-blue);
                    color: var(--dark-blue);
                }

                a:hover {
                    transform: scale(1.1);
                    background: var(--color-blue);
                    color: var(--very-light-blue);
                    box-shadow: 0 5px 20px var(--color-black);
                }

            }
        }
    }
}
.servico-cell{
    display: none;
}
#contato,
#text-contato,
#contato-link{
    opacity: 0;
    transition: opacity 1s ease;
}
#contato.visible,
#text-contato.visible,
#contato-link.visible{
    opacity: 1;
}
.contato{
    background: var(--dark-blue);
   
    box-shadow: 0 5px 20px var(--color-black);
    display: flex;
    justify-content: center;
    .container-contato{
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        border-bottom: 2px solid var(--color-blue);
        width: 98%;
        .text-contato{
            margin: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: var(--color-blue);
            border-radius: 5px;
            box-shadow: 0 5px 20px var(--color-black);
            .title-contato{
                width: 70%;
                margin: 10px 0;
                border-bottom: 3px solid var(--dark-blue);
                h1{
                    text-align: center;
                    color: var(--very-light-blue);
                }
            }
            .paragrafo-contato{
                width: 60%;
                p{
                    text-align: justify;
                    font-size: 20px;
                    margin-bottom: 20px;
                    font-weight: bold;
                    color: var(--very-light-blue);
                }
            }
        }
        .links-contato{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            a{
                margin: 10px 0 0 0;
                font-size: 25px;
                transition: 0.5s;
                color: var(--very-light-blue);
                font-weight: bolder;
                i{
                    transition: 0.5s;
                }
            }
            a:hover{
                transform: scale(1.1);
                text-shadow: 0 5px 20px var(--color-black);
                #whats{
                    color: var(--color-green);
                }
                #insta{
                    color: var(--color-insta);
                }
                #mail{
                    color: var(--color-blue);
                }
            }
        }
    }
}
footer{
    .container-footer{
        background: var(--dark-blue);
        padding: 20px 0;
        display: flex;
        justify-content: center;
        img{
            width: 20%;
        }
    }
}
.header-footer{
    display: flex;
    justify-content: center;
    background: var(--dark-blue);
    color: var(--very-light-blue);
    padding: 5px 0;
}