#maps,
#svg-map,
#text{
    opacity: 0;
    transition: opacity 1s ease;
}
#maps.visible,
#svg-map.visible,
#text.visible{
    opacity: 1;
}
.maps{
    padding: 50px 0;
   display: flex;
   justify-content: center;
   background: linear-gradient(16deg,rgba(8, 67, 255, 1) 35%, rgba(217, 226, 255, 1) 35%);
}
.maps-container{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}
.mapa{
    display: flex;
    justify-content: center;

}
.text-mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-text-maps{
    display: flex;
    justify-content: start;
    width: 80%;
    border-bottom: 2px solid var(--color-blue);
    color: var(--color-black);
}
.paragrafo-text-maps{
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paragrafo-text-maps p{
    margin-top: 15px;
    font-size: 18px;
    width: 80%;
}

/*mapa*/
svg#svg-map {
    max-width: 100%;
    height: auto;
    width: 500px;
    margin-top: 20px;
}

#svg-map path {
    fill: var(--dark-blue);
}


#svg-map path.parana {
    fill: var(--color-blue);
    transition: 0.5s;
}



#svg-map text {
    fill: var(--color-white);
    font-family: 'merriweather_sansbook';
    cursor: pointer;
    font-size: 0.6em;
    text-align: center;
}

#svg-map a {
    text-decoration: none;
    cursor: default;
}
#svg-map a text{
    cursor: default;
}

#svg-map path.parana:hover{
    fill: var(--light-blue);
}
@media(max-width:930px) {
    .maps-container{
        display: flex;
        flex-direction: column-reverse;
    }
}