@media(max-width:1330px) {
    .servicos {
        .container-servicos {
            .servico-content {
                .title-content-servico {
                    h1 {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

@media(max-width:1075px) {
    .servicos {
        .container-servicos {
            .servico-content {
                .title-content-servico {
                    h1 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media(max-width:1050px) {
    .navbar {
        .nav-container {
            .button-container {
                .button {
                    a {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    .slider {
        width: 90%;
    }
}

@media(max-width:930px) {
    
    .inicio {
        .inicio-container {
            display: flex;
            flex-direction: column;

            .text-container-inicio {
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                .title-container-inicio {
                    width: 80%;
                    font-size: 18px;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                }

                .folder-container-inicio {
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                }

                .button-chamada-inicio {
                    width: 80%;
                    display: flex;
                    justify-content: center;
                }
            }

            .img-container-inicio {
                margin: 10% 5% 5px 5%;
                display: flex;
                align-items: center;
                justify-content: center;

                .img-transition {
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    #img1 {
                        width: 40%;
                        left: 0;
                        top: -40px;
                        filter: blur(1px);
                    }

                    #img2 {
                        width: 45%;
                    }

                    #img3 {
                        width: 40%;
                        right: 0;
                        top: -40px;
                        filter: blur(1px);
                    }
                }
            }
        }
    }

    .button-more {
        .button-more-container {
            margin-top: 5%;
        }
    }

    .filosofia {
        margin-top: 5%;

        .filosofia-container {
            display: flex;
            flex-direction: column;

            .text-filo {
                border-radius: 20% 20% 0 0;
                align-items: center;

                .title-filo {}
            }

            .graphic-filo {
                border-radius: 0;
                box-shadow: none;

                .img-filo {
                    background: var(--color-blue);
                    border-radius: 20px;

                    img {
                        width: 80%;
                    }
                }
            }
        }
    }

    .processo-criativo {
        .container-criativo {
            display: flex;
            flex-direction: column;

            .container-processo {
                #number2 {
                    margin-top: 0;
                    height: 100%;

                    .text-processo {
                        strong {
                            font-size: 15px;
                        }

                        p {
                            font-size: 15px;
                        }
                    }
                }

                .container-number {
                    width: 100%;

                    strong {
                        font-size: 15px;
                    }

                    p {
                        font-size: 15px;
                    }
                }
            }

            #number1 {
                justify-content: center;

            }

            #number3 {
                justify-content: center;
            }

        }
    }

    .controls {
        display: none;
    }
    .servicos{
        .container-servicos{
            .servico-content{
                .button-content-servico{
                    a{
                        border: 2px solid var(--color-blue);
                        color: var(--dark-blue);
                    }
                }
            }
        }
    }
    .contato{
        .container-contato{
            display: flex;
            flex-direction: column;
        }
    }
    
}

@media(max-width:860px) {
    .servicos {
        .container-servicos {
            .servico-content {
                .title-content-servico {
                    h1 {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media(max-width:750px) {
    #filosofia {
        scroll-margin-top: 0px;
    }

    .navbar {
        padding: 10px 0;

        .nav-container {
            .button-container {
                display: none;
            }

            .hamburger {
                display: flex;
            }

            .menu-mobile {
                .button-menu {
                    .button {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .inicio .inicio-container .text-container-inicio .button-chamada-inicio {
        display: flex;
        flex-direction: column;
        width: 45%;

        a {
            text-align: center;

        }

        #contato-inicio,
        #conhecer-inicio {
            margin: 5px 0;
        }
    }

    .servicos {
        padding: 0;

        .container-servicos {
            display: flex;
            flex-direction: column;
            .servico-content{
                .title-content-servico{
                    h1{
                        font-size: 20px;
                    }
                }
               
            }
        }
    }
    .contato{
        .container-contato{
            .text-contato{
                .paragrafo-contato{
                    width: 90%;
                   
                }
            }
        }
    }
}

@media(max-width:450px) {
    .navbar {
        padding: 10px 0;

        .nav-container {
            grid-template-columns: 50% 50%;

            .nav-logo {
                img {
                    width: 100%;
                }
            }
        }

    }

    .inicio .inicio-container .text-container-inicio .title-container-inicio {
        font-size: 15px;
    }

    .inicio .inicio-container .text-container-inicio .button-chamada-inicio a {
        font-size: 12px;
        padding: 5px;
    }

    .inicio .inicio-container .img-container-inicio {
        margin: 20% 5% 0 5%;
    }

    .button-more {
        .button-more-container {
            margin-top: 25%;
        }
    }

    .filosofia {
        .filosofia-container {
            .text-filo {
                border-radius: 1% 1% 0 0;
                padding: 0;

                h1 {
                    margin-top: 20px;
                }

                p {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .slider {
        width: 95%;
    }
    .contato{
        .container-contato{
            .text-contato{
                .title-contato{
                    h1{
                        font-size: 25px;
                    }
                }
                .paragrafo-contato{
                    p{
                        font-size: 15px;
                    }
                }
            }
            .links-contato{
                a{
                    font-size: 20px;
                }
            }
        }
    }
    footer{
        .container-footer{
            img{
                width: 40%;
            }
        }
    }
    .header-footer{
        label{
            font-size: 10px;
        }
    }

}